body{
    background-color: rgb(226, 226, 210) !important;
    /* comamdo que aumenta a importancia do atributo */
    background-color: blueviolet;
}
main{
    display:flex;
    gap: 2rem;
    justify-content: center;
    color: rgb(68, 32, 68);
}
section{
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    padding: 2rem;
    box-sizing: border-box;
    transition-property: border-radius, box-shadow;
    transition-duration: 0.7s;
}
section:hover{
    box-shadow: 0 0 10px 0 gray;
    border-radius: 10px;
    color: blueviolet;
}
h1{
    text-align: center;
    background-color: rgb(179, 151, 99);
    padding: 10px;
    
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}