*{
    margin: 0;
    padding: 0;
    color:rgb(255, 255, 255);
}


header{
    position: fixed;
    /* o position fixed deixa a marcação FIXA na sua posição, a marcação "perde" a largura 
    muda o comportamento para o display: inline-block*/
    margin-top: 0;
    width:100vw;/*  */
    top: 0;
    z-index: 1;
}


header, footer, section{
    padding: 2rem;
    margin: 0 0 2rem 0;
    background-color: rgb(62, 61, 65);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size:0.8rem;
}
main{
    margin-top: 10rem;/* como o header ficou sobreposto o main precisa ter um espaçamento em cima */
}

header, footer{
    background-color: rgb(27, 25, 31);
    text-align: center;
}

div#banner{
    background-color:  rgba(156, 144, 156, 0.795);
    padding: 2rem;
    width:20rem;
    height: 20rem;
    position: absolute;/* o posicionamento absoluto permite q o elemento fique sobre posto, 
    diferente do FIXED que seguirá a a rolagem do scroll */
    /*top: ;
    left: ;
    right: ; 
    bottom: ;*/
    /* As coordenadas irão posicionar o elemeneto, escolher apenas 2 : o eixo x e eixo y.
    ao trabalhar com posicionamento NÃO se trabalhar com a MARGIN!!!*/

    z-index: 3;/* equivale ao eeixo Z, recebe um valor inteiro que representa sua ordem de camadas */
}

div#esmaecer{
    background-color: rgba(0, 0, 0, 0.7);
    /* RGBA:  */
    width: 100vw;
    height: 100vh;
    position:fixed;
    top:0;
    left:0;
    z-index: 2; /* PARA FICAR NA FRENTE DO  HEADER E ATRAS DO BANNER */
    justify-content: center;/* alinhamento HORIZONTAL */
    align-items: center; /* alinhamento VERTICAL */
    display: flex;
}
h2{
    position:relative;
    /* permite as definições de coordenadas e NÃO perde espaço no HTML */
    top: 10px;
    font-size: 5rem;
}