h1{
    background-color: rgb(82, 53, 82);
    border-radius: 10px;
    text-align: center;
}
body{
    background-color: rgb(129, 114, 129);
    color: white;
}
label[for]{
    /* seleciona as marcações de label com 
    o atributo de for definido */
    display:inline-block;
    width: 12rem;
    vertical-align: top;
}
