* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

header {
    background: linear-gradient(to left, #7292A6, #224459);
    padding: 1rem;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr); /* 4 linhas iguais */
    grid-template-areas:
        "menu descricao e e h"
        "menu c f g i"
        "menu d f j j"
        "menu d f j j"
    ;
    gap: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    height: 100vh; /* ocupa a tela inteira */
}

section {
    padding: 1rem;
    overflow: auto;
    background-color: rgb(235, 234, 234);
    height: 100%;
    display: flex;
    flex-direction: column;
}

section.menu {
    background-color: #c5d1d9;
    grid-area: menu;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.menu menu,section.menu li {
    text-decoration: none;
    list-style-type: none;
    color: #368bb6;
    margin: 0;
    padding: 1.5rem 10px;
    font-size: 2.5rem;
    
}

section.menu menu:hover {
    background-color: #92b5cc;
}

menu {
    padding: 0 1rem;
}

section.descricao {
    grid-area: descricao;
    padding: 1rem;
}

section.descricao p {
    font-size: 1.25rem;
}

section.descricao p span {
    color: #224459;
    font-weight: 800;
}

section.c {
    grid-area: c;
}

section.c ul {
    margin: 0.5em 2em;
    font-size: 1.1rem;
}

section.c li {
    margin-top: 0.5em;
}

section.d {
    grid-area: d;
    position: relative;
    overflow: hidden;
    padding: 0;
    height: 100%;
}

section.e {
    grid-area: e;
}

section.e table {
    text-align: center;
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

td,
tr {
    border: 1px solid rgb(255, 255, 255);
    padding: 0.1vw;
    font-size: 1.1rem;
}

section.f {
    grid-area: f;
}

section.f form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

section.f form input[type="submit"] {
    width: 60%;
    align-self: center;
    background-color: #252525;
    border: none;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

section.f form > input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    font-size: 1rem;
}

section.g {
    grid-area: g;
    position: relative;
    overflow: hidden;
    padding: 0;
    height: 100%;
}

section.h {
    grid-area: h;
    position: relative;
    overflow: hidden;
    padding: 0;
    height: 100%;
}

section.i {
    grid-area: i;
    position: relative;
    overflow: hidden;
    padding: 0;
    height: 100%;
}

section.d p, section.g p, section.h p, section.i p {
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    padding: 0.2rem 1rem;
    transform: translate(-50%, 0);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    z-index: 2;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.534);
}

section img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
    position: relative;
    filter: grayscale(70%);
}

section.j {
    grid-area: j;
    background-color: #e6e6e6;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

section.j h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #224459;
}

section.j p {
    font-size: 1.25rem;
    font-weight: 500;
    color: #555;
}

section.j ul {
    list-style-type: disc;
    padding-left: 2rem;
    font-size: 1.1rem;
    color: #368bb6;
}

section.j ul li {
    margin: 0.4rem 0;
}

footer {
    background-color: #224459;
    padding: 2rem;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}
