body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    color: #d555f5;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    font-size: 18px;
}

button {
    background-color: #bb86fc;
    color: #121212;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}
