*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255) ;
    color: white;

}
a{
    text-decoration: none;
   
}
main{
    display:flex;
    gap: 2rem;
    justify-content: center;
    margin: 10%;
}
section{
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    padding: 2rem;
    box-sizing: border-box;
    transition-property: border-radius, box-shadow;
    transition-duration: 0.7s;
}
section:hover{
    box-shadow: 0 0 10px 0 gray;
    border-radius: 10px;
}
header{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: black;
}